* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.green,
.blue,
.red,
.grey {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.green {
  background-color: green;
  margin-top: 50px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.grey {
  background-color: gray;
}

.start {
  align-items: start;
}

.main {
  display: flex;
  padding-left: 0;
  align-items: start;
}

.content {
  margin-left: 100px;
  margin-top: 5%;
}

.green:hover {
  width: 125px;
  height: 125px;
}

.blue:hover {
  width: 125px;
  height: 125px;
}

.red:hover {
  width: 125px;
  height: 125px;
}

.grey:hover {
  width: 125px;
  height: 125px;
}
